<div class="user">
  <div class="user__avatar"></div>
  <div class="user__about">
    <div class="about__name"><%= user.username %></div>
    <p class="about__register"><%= time_ago_in_words(user.created_at) %></p>
    <%= link_to t('see'), user_path(user.id), class: "about__link" %>  
  </div>
</div>