<div class="article">
  <div class="article__background"></div>
  <h3 class="article__title"><%= truncate(post.title, :length => 20) %></h3>
  <p class="article__description"><%= truncate(post.content, :length => 65) %></p>
  <!--<p><small>by <%= post.user.username %></small></p>-->
  <%= link_to "Lire", post_path(post.id), class: "article__link" %>
</div>