<div class="article">
  <div class="article__background">
    <%= image_tag post.photo.url %>
  </div>
  <h3 class="article__title"><%= truncate(post.title, :length => 20) %></h3>
  <p class="article__description"><%= truncate(post.content, :length => 65) %></p>
  <%= link_to t('read'), post_path(post.id), class: "article__link" %>
</div>