.container-article{
  margin-top: 0 !important;
  transform: translateY(-25vh);

  p{
    line-height: 28px;
  }
}

.article__background{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  img{
    width: auto;
    height: 100%;
  }
}

.comment{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--secondary-font-color);
  padding: 15px 0;
  p{
    margin: 8px 0;
  }
  .comment_delete{
    align-self: flex-end;
  }
}